@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Carter+One&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poly:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.text-blue {
    color: #2E3192;
}

body {
    overflow-x: hidden;
}

/* topheader */
#topheader {
    background-color: #4989B0;
    color: white;
    text-align: center;
    line-height: 40px;
    font-weight: 500;
}

/* topheader */
/* header */
header {
    padding: 5px 50px;
    display: flex;
    justify-content: space-between;
    line-height: 60px;
    box-shadow: 0px 5px 10px rgb(212, 212, 212);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: white;
}

header nav {
    display: flex;
}

header nav ul li {
    display: inline-block;
    padding: 0px 15px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    display: block;
    transition: all 0.3s;
    position: relative;
    padding-inline: 5px;
}

header nav ul li a::after {
    content: '';
    background-color: #4a70da;
    min-width: 0%;
    height: 2px;
    position: absolute;
    bottom: 10px;
    left: 0;
    transition: all 0.5s;
}

header nav ul li:hover a {
    color: #4a70da;
}

header nav ul li:hover a::after {
    min-width: 100%;
}

header nav .dropdown{
    display: none;
    position: absolute;
    background-color: white;
    width: 300px;
}
header nav .dropdown table{
    width: 100%;
    border: 1px solid lightgray;
    border-collapse: collapse;
}
header nav .dropdown table td{
    border: 1px solid lightgray;
}
header nav .dropdown a{
    padding-inline: 10px;
    line-height: 45px;
}

header nav ul li:hover .dropdown{
    display: block;
}
header nav ul li:hover .dropdown a::after {
    min-width: 0%;
}
header nav .dropdown a:hover{
    background-color: #4a70da;
    color: white;
    /* letter-spacing: 0.6px; */
}
header nav #nav-menu {
    display: none;
    font-size: 22px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#popup-menu {
    background-color: white;
    width: 320px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 20px 10px;
    box-shadow: -3px 0px 5px rgb(207, 207, 207);
    /* display: none; */
    /* Animation properties */
    opacity: 0;
    transform: translateX(100%);
    visibility: hidden;
    transition: all 0.5s ease;
    z-index: 999;
}

#popup-menu.active {
    /* display: block; */
    opacity: 1;
    transform: translateX(0%);
    visibility: visible;
}

#popup-menu ul {
    margin-top: 30px;
}

#popup-menu ul li {
    padding: 10px 15px;
    transition: all 0.1s;
    border-bottom: 1px solid gray;
}

#popup-menu ul li:first-child {
    border-top: 1px solid gray;
}

#popup-menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    display: block;
    transition: all 0.1s;
    position: relative;
    padding-inline: 5px;
}

#popup-menu ul li:hover {
    background-color: #4a70da;
}

#popup-menu ul li:hover a {
    color: white;
}

#popup-menu ul li:hover a::after {
    min-width: 100%;
}

/* header */
/* banner */

#banner {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

#banner .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease;
    z-index: 0;
}

#banner .slide.active {
    opacity: 1;
    z-index: 1;
}

#banner .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#banner .slide-btn {
    position: absolute;
    /* transform: translateY(50%); */
    top: 45%;
    z-index: 99;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4a70da;
    color: white;
    cursor: pointer;
    font-size: 20px;
    border: 2px solid transparent;
    transition: all 0.3s;
}

#banner .slide-btn.prev {
    left: 20px;
}

#banner .slide-btn.next {
    right: 20px;
}

#banner .slide-btn:hover {
    background-color: white;
    border: 2px solid #4a70da;
    color: #4a70da;
}

/* banner */
/* course */
#course {
    padding: 50px 100px;
}

#course h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

#course .card-section {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
}

#course .card-section .card {
    border: 1px solid gainsboro;
    border-radius: 7px;
    width: 100%;
    /* margin-bottom: 20px; */
}

#course .card-section .card img {
    width: 100%;
    object-fit: cover;
    border-radius: 7px 7px 0px 0px;
}

#course .card-section .card .content {
    padding: 10px 20px 20px 20px;
}

#course .card-section .card .content h4 {
    font-size: 20px;
    font-weight: 550;
    margin-bottom: 7px;
}

#course .card-section .card .content h4+p {
    color: rgb(100, 100, 100);
    font-size: 14px;
    margin-bottom: 50px;
}

#course .card-section .card .content h4+p+p {
    text-align: center;
    margin-bottom: 10px;
}

#course .card-section .card .content .course-btn {
    font-size: 15px;
    line-height: 40px;
    display: block;
    width: 100%;
    border-radius: 5px;
    color: white;
    text-align: center;
    background-color: #188D27;
    border: 2px solid transparent;
    text-decoration: none;
}

/* course */
/* why-choose */
#why-choose {
    background-color: #E0EAF3;
    padding: 50px 70px;
    text-align: center;
}

#why-choose .content-choose {
    max-width: 1000px;
    margin: 0px auto 40px auto;
}

#why-choose .content-choose h2 {
    margin-bottom: 10px;
}

#why-choose .content-choose p {
    line-height: 30px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    padding: 0px 0px 40px 0px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    border-radius: 10px;
}

.swiper-wrapper .swiper-slide img {
    width: 100%;
}

.swiper-wrapper .slide-content {
    padding: 10px 20px 20px 20px;
}

.swiper-wrapper .slide-content p {
    font-size: 14px;
}

/* 
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    } */
/* why-choose */
/* company */
#company {
    background-color: #F8F9FA;
    padding: 50px;
    text-align: center;
}

#company .scroll-container {
    width: 100%;
    position: relative;
    display: grid;
    overflow: hidden;
    place-items: center;
}

#company .scroll-container::before {
    content: '';
    position: absolute;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5));
    top: 0;
    height: 100%;
    left: 0;
    width: 2%;
    z-index: 1;
}

#company .scroll-container::after {
    content: '';
    position: absolute;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5));
    top: 0;
    height: 100%;
    right: 0;
    width: 2%;
    z-index: 1;
}

#company .scroll-row {
    display: flex;
    width: calc(250px*20);
    /* overflow: hidden; */
    margin: 10px;
    animation: slide 5s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px*2));
    }
}

#company .scroll-container .scroll-row .scroll-box {
    width: 180px;
    height: 90px;
    background-color: white;
    padding: 20px;
    box-shadow: 1px 1px 5px gray;
    margin: 10px;
    border-radius: 10px;
}

#company .scroll-container .scroll-row .scroll-box img {
    object-fit: cover;
    width: 100%;
}

/* company */





/* responsive */
/* max-width:992px */
@media screen and (max-width:992px) {
    header nav ul {
        display: none;
    }

    header nav #nav-menu {
        display: block;
    }

    #banner {
        height: 400px;
    }

    #course .card-section {
        grid-template-columns: repeat(2, auto);
        gap: 15px;
    }

    #course .card-section .card .content h4+p+p {
        font-size: 15px;
    }
}

/* max-width:992px */
/* max-width:768px */
@media screen and (max-width:768px) {
    #banner {
        height: 300px;
    }

    #banner .slide-btn {
        width: 40px;
        height: 40px;
        font-size: 18px;
    }

    #course {
        padding: 40px;
    }
}

/* max-width:768px */
/* max-width:500px */
@media screen and (max-width:500px) {
    #banner {
        height: 250px;
    }

    #banner .slide-btn {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }

    #course {
        padding: 30px 25px;
    }

    #course .card-section {
        grid-template-columns: repeat(1, auto);
        gap: 10px;
    }
}

/* max-width:768px */
/* responsive */